img {
    height: 64px;
}
body {
    background-image: url(http://img3.themebin.com/1920x1080/hd_party_wallpaper.jpg);
    background-size: auto;
    font-family: 'Exo', sans-serif;

}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

#col {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.rockband {
    height: 200px;
}

.about {
    height: 200px;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 2px;
    transition: all 2s;              
}
.about:hover {
    width: 400px;
    height:auto;
}

#body {
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 9px;
}