body {
    font-family: sans-serif;
    background-color:
}

img {
    width: 25%;
    height: 300px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    background-color: burlywood;
}

header {
    text-align: center;
    font-size: 60px;
    background-color: burlywood;
    padding: 5px;
}

nav {
    float: left;
    height: 650px;
    padding-right: 30px;
    background-color: burlywood;
}
